In [1]:
import sqlite3

with sqlite3.connect('library.db') as connection:
    query = "CREATE TABLE Books('Title' TEXT, 'Author' TEXT, 'Year_Published' INT, 'Genre' TEXT)"
    cursor = connection.cursor()
    cursor.execute(query)

In [2]:
values = (('To Kill a Mockingbird','Harper Lee',1960,'Fiction'), ('1984','George Orwell',1949,'Dystopian'), ('The Great Gatsby','F. Scott Fitzgerald',1925,'Classic'))

cursor.executemany("INSERT INTO Books VALUES(?,?,?,?);", values)
connection.commit()

In [4]:
cursor.execute("UPDATE Books SET [Year_Published]=1950 WHERE [Title]='1984'")
connection.commit()

In [5]:
cursor.execute("SELECT Title, Author FROM Books WHERE Genre='Dystopian'")
for row in cursor.fetchall():
    print(row)

('1984', 'George Orwell')

In [13]:
cursor.execute("DELETE FROM Books WHERE Year_Published<1950")
connection.commit()

In [14]:
cursor.execute("INSERT INTO Books VALUES(?,?,?,?)", ('The Great Gatsby','F. Scott Fitzgerald',1925,'Classic'))
connection.commit()

In [15]:
cursor.execute("ALTER TABLE Books ADD COLUMN 'Rating' FLOAT")
cursor.execute("UPDATE Books SET Rating = 4.8 WHERE Title = 'To Kill a Mockingbird';")
cursor.execute("UPDATE Books SET Rating = 4.7 WHERE Title = '1984';")
cursor.execute("UPDATE Books SET Rating = 4.5 WHERE Title = 'The Great Gatsby';")
connection.commit()

In [16]:
#Retrieving data
cursor.execute(
"SELECT Title, Author, Genre FROM Books ORDER BY Year_Published ASC;"
)
for row in cursor.fetchall():
    print(row)

('The Great Gatsby', 'F. Scott Fitzgerald', 'Classic')
('1984', 'George Orwell', 'Dystopian')
('To Kill a Mockingbird', 'Harper Lee', 'Fiction')