In [ ]:
#Creating table
import sqlite3

with sqlite3.connect('roaster.db') as connection:
    cursor = connection.cursor()
    query = "CREATE TABLE Roaster('Name' TEXT, 'Species' TEXT, 'Age' INT)"
    cursor.execute(query)

OperationalError: table Roaster already exists

In [ ]:
#Inseting values into table
import sqlite3
with sqlite3.connect('roaster.db') as connection:
    cursor = connection.cursor()
    roaster_values = (('Benjamin Sisko', 'Human', 40), ('Jadzia Dax', 'Trill', 300), ('Kira Nerys','Bajoran', 29))
    cursor.executemany("INSERT INTO Roaster VALUES(?,?,?);", roaster_values)

In [ ]:
#Updating data
cursor.execute("UPDATE Roaster SET Name=? WHERE Species=? AND Age=?;", ('Ezri Dax', 'Trill', 300))
connection.commit()

In [11]:
#Query data
cursor.execute(
"SELECT Name, Age FROM Roaster WHERE Species = 'Bajoran';"
)
for row in cursor.fetchall():
    print(row)

('Kira Nerys', 29)

In [13]:
#Delete data
cursor.execute("DELETE FROM Roaster WHERE age>100")
connection.commit()

In [ ]:
#Adding RANK
#cursor.execute("ALTER TABLE Roaster ADD COLUMN 'Rank' TEXT")
cursor.execute("UPDATE Roaster SET Rank = 'Captain' WHERE Name = 'Benjamin Sisko';")
cursor.execute("UPDATE Roaster SET Rank = 'Lieutenant' WHERE Name = 'Ezri Dax';")
cursor.execute("UPDATE Roaster SET Rank = 'Major' WHERE Name = 'Kira Nerys';")
connection.commit()

In [22]:
#Retrieving data
cursor.execute(
"SELECT Name, Species, Rank FROM Roaster ORDER BY Age DESC;"
)
for row in cursor.fetchall():
    print(row)

('Ezri Dax', 'Lieutenant', 'Lieutenant')
('Benjamin Sisko', 'Human', 'Captain')
('Kira Nerys', 'Bajoran', 'Major')

In [20]:
values = ('Ezri Dax', 'Lieutenant', 300, 'Lieutenant')
cursor.execute("INSERT INTO Roaster VALUES(?,?,?,?)", values)
connection.commit()