DICTIONARY TASKS

In [ ]:
#1
try:
    student = {
    'name': 'Umidjon',
    'id' : '230382',
    'year' : '2'
    }
    student['yers']
    
except KeyError:
    print("key does not exist")

key does not exist

In [13]:
#2
try:
    student = {
    'name': 'Umidjon',
    'id' : '230382',
    'year' : '2'
    }
    if student['year']:
        print('key exists')
    
except KeyError:
    print("key does not exist")

key exists

In [16]:
#3
student = {
    'name': 'Umidjon',
    'id' : '230382',
    'year' : '2'
    }
len(student.keys())

3

In [ ]:
#4
student = {
    'name': 'Umidjon',
    'Studentid' : '230381',
    'year' : '2'
    }
student.keys()

dict_keys(['name', 'id', 'year'])

In [18]:
#5
student.values()

dict_values(['Umidjon', '230382', '2'])

In [22]:
#6
person = {
    'age' : 20,
    'lastname' : 'Khusanov'
}

student.update(person)
student

{'name': 'Umidjon',
 'id': '230382',
 'year': '2',
 'age': 20,
 'lastname': 'Khusanov'}

In [30]:
#7
person = {
    'age' : 20,
    'lastname' : 'Khusanov'
}
try:
    person.pop('age')
    print(person)
except KeyError:
    print("key does not exist")

{'lastname': 'Khusanov'}

In [31]:
#8
person.clear()
dict8 = person
dict8

{}

In [36]:
#9
student = {
    'name': 'Umidjon',
    'Studentid' : '230381',
    'year' : '2'
    }

tuple9 = tuple(student.items())
if len(tuple9) == 0:
    print('empty')
else: print('not empty')

not empty

In [ ]:
#10
a = 'lastname'
try:
    pair_dict = {key : student[a]}
    print(pair_dict)
except KeyError:
    print('key does not exist')

key does not exist

In [49]:
#11
new_year = 3
student.update({'year': new_year})
student

{'name': 'Umidjon', 'Studentid': '230381', 'year': 3}

In [63]:
#12
from collections import defaultdict
student = [('name', 'Umidjon'), ('year', 3), ('year', 2), ('year', 100)]
student_dict = defaultdict(list)
for key, value in student:
    student_dict[key].append(value)

key_count = {key: len(values) for key, values in student_dict.items()}
print(key_count)

{'name': 1, 'year': 3}

In [ ]:
#13
student13 = {
    'name': 'Umidjon',
    'Studentid' : '2',
    'year' : 2
    }

student13_inverted = {value: key for key, value in student13.items()}
student13_inverted

{'Umidjon': 'name', '230381': 'Studentid', '2': 'year'}

In [81]:
#14
student13 = {
    'name': 'Umidjon',
    'Studentid' : '2',
    'year' : '2'
    }
list14 = list(student13.items())
list14_1 = list()
for i in range (len(list14)):
    if list14[i][1] == '2':
        list14_1.append(list14[i][0])

list14_1

['Studentid', 'year']

In [85]:
#15
list15_11 = ['fruit', 'vegetable', 'animal']
list15_12 = ['apple', 'carrot', 'cat']
dict15 = dict()
for key, value in zip(list15_11, list15_12):
    dict15[key] = value
dict15

{'fruit': 'apple', 'vegetable': 'carrot', 'animal': 'cat'}

In [99]:
#16
dict16 = {
    'fruit': 'apple', 
    'vegetable': 'carrot', 
    'animal': 'cat'
    }
count_nested = 0
for value in dict16.values():
    if isinstance(value, dict):
        count_nested+=1
if count_nested > 0:
    print('nested dict')
else: print('not nested dict')

not nested dict

In [109]:
#17
dict17 = {
    'fruit': {'apple': '1', 'banana': '2'}, 
    'vegetable': 'carrot', 
    'animal': {'cat':'3', 'dogs':'2'}
    }

list17_11 = list(dict17.values())
list17_11[0]['apple']

'1'

In [ ]:
#18
from collections import defaultdict
dict18 = defaultdict(list)

In [111]:
#19
dict19 = {
    'fruit': 'cat', 
    'vegetable': 'carrot', 
    'animal': 'cat'
    }

dict19_1 = set(dict19.values())
len(dict19_1)

2

In [118]:
#20
dict20 = {
    'fruit': 'apple', 
    'vegetable': 'carrot', 
    'animal': 'cat'
    }

dict20_1 = sorted(list(dict20.items()))
dict20_2 = dict(dict20_1)

dict20_2

{'animal': 'cat', 'fruit': 'apple', 'vegetable': 'carrot'}

In [122]:
#21
dict21_1 = sorted(dict20.items(), key=lambda x: x[1])
dict21_2 = dict(dict21_1)
dict21_2

{'fruit': 'apple', 'vegetable': 'carrot', 'animal': 'cat'}

In [126]:
#22
dict22 = {
    'fruit': 3, 
    'vegetable': 2, 
    'animal': 5
    }
dict22_1 = defaultdict(list)
for key, value in dict22.items():
    if dict22[key] > 2:
        dict22_1[key] = value

dict22_1

defaultdict(list, {'fruit': 3, 'animal': 5})

In [129]:
#23
dict23_1 = {
    'fruit': 3, 
    'vegetable': 2, 
    'animal': 5
    }

dict23_2 = {
    'fruita': 3, 
    'vegetables': 2, 
    'animals': 5
    }

set23_1 = set(dict23_1.keys())
set23_2 = set(dict23_2.keys())
set23 = set23_1 & set23_2
if len(set23) == 0:
    print('no common key')
else: print('common keys exist')

no common key

In [130]:
#24
tuple24_11 = (('a', 1), ('b', 2), ('c', 3))
dict24 = dict(tuple24_11)
dict24

{'a': 1, 'b': 2, 'c': 3}

In [143]:
#25
dict25 = {
    'fruit': 3, 
    'vegetable': 2, 
    'animal': 5
    }

tuple25_11 = tuple(dict25.items())
tuple25_11[0]

('fruit', 3)