List tasks

In [ ]:
#1
list = [1, 2, 3, 4, 5, 2]
list.count(2)

2

In [4]:
#2
sum = 0
for i in list:
    sum += list[i]
sum

19

In [5]:
#3
max(list)

5

In [6]:
#4
min(list)

1

In [8]:
#5
6 in list

False

In [145]:
#6 First element
list6 = []
try:
    print(list6[0])
except IndexError:
    print("empty")

empty

In [147]:
#7 Last element
list6 = []
try:
    print(list[-1])
except IndexError:
    print("empty")

5

In [ ]:
#8

slicelist = list[:3]
slicelist

[1, 2, 3]

In [43]:
#9 Reverse the list
list = [1, 2, 3, 4, 5, 2]
list.reverse()
reversedlist = list
reversedlist

[2, 5, 4, 3, 2, 1]

In [44]:
#10
list.sort()
sortedlist = list
sortedlist

[1, 2, 2, 3, 4, 5]

In [1]:
#11
list_11 = [1, 2, 3, 3, 2, 6]
list(set(list_11))

[1, 2, 3, 6]

In [74]:
#12
list_11 = [1, 2, 3, 3, 2, 6]
element = 4
list_11.insert(3, element)
list_11

[1, 2, 3, 4, 3, 2, 6]

In [75]:
#13
list_11 = [1, 2, 3, 3, 2, 6]
element = 2
list_11.index(element)

1

In [77]:
#14
list_11 = [1, 2, 3, 3, 2, 6]
list_14 = []
not list_14

True

In [82]:
#15
list_11 = [1, 2, 3, 3, 2, 6]
count = 0
for i in range (len(list_11)):
    if list_11[i] % 2 == 0:
        count+=1

print(count)

3

In [83]:
#16
list_11 = [1, 2, 3, 3, 2, 6]
count = 0
for i in range (len(list_11)):
    if list_11[i] % 2 == 1:
        count+=1

print(count)

3

In [86]:
#17
list17_1 = [1,2,3]
list17_2 = [8,9,0]
list17 = list17_1 + list17_2
print(list17)

[1, 2, 3, 8, 9, 0]

In [92]:
#18
list18_1 = [1,2,3,4,5]
list18_2 = [1,2,3]
str(list18_2)[1:-1] in str(list18_1)[1:-1]

True

In [93]:
#19
list19_1 = [0,2,3,4,5]
list19_1[list19_1.index(3)] = 1
list19_1

[0, 2, 1, 4, 5]

In [ ]:
#20
list_20 = [1, 2, 3, 3, 2, 6]
list_20.pop(list_20.index(max(list_20)))
max(list_20)

In [94]:
#21
list_21 = [1, 2, 3, 3, 2, 6]
list_21.pop(list_21.index(min(list_21)))
min(list_21)

2

In [95]:
#22
list_22 = [1, 2, 3, 3, 2, 6]
list_even = []
for i in range (len(list_22)):
    if list_22[i] % 2 == 0:
        list_even.append(list_22[i])
print(list_even)

[2, 2, 6]

In [96]:
#23
list_22 = [1, 2, 3, 3, 2, 6]
list_even = []
for i in range (len(list_22)):
    if list_22[i] % 2 == 1:
        list_even.append(list_22[i])
print(list_even)

[1, 3, 3]

In [98]:
#24
len(list_22)

6

In [99]:
#25
list25 = list_22.copy()
list25

[1, 2, 3, 3, 2, 6]

In [104]:
#26
list26 = [1,2,3,4,5,6,7,8]
if (len(list26)%2 == 0):
    print(list26[len(list26)//2 - 1], list26[len(list26)//2])
else: print(len(list26)//2)

4 5

In [ ]:
#27
list26 = [1,9,3,4,5,6,7,8]
max(list26[3:5])

In [ ]:
#28
list26 = [1,9,3,4,5,6,7,8]
min(list26[3:5])

In [107]:
#29
list26 = [1,2,3,4,5,6,7,8]
list26.pop(5)
list26

[1, 2, 3, 4, 5, 7, 8]

In [109]:
#30
list26 = [1,9,3,4,5,6,7,8]
list30 = sorted(list26)
list30 == list26

False

In [ ]:
#31
list31 = [1,2,3]
list31_1 = []
for i in range (len(list31)):
    for x in range(list31[i]):
        list31_1.append(list31[i])

list31_1

[1, 2, 2, 3, 3, 3]

In [ ]:
#32
list32_1 = [1,2,3]
list32_2 = [0, 10, -3, 2]
list32 = (list32_1 + list32_2)
list32.sort()
print(list32)

None

In [126]:
#33
list33 = [1,2,3,2,1,3,4,2]
a = 2
for i in range (len(list33)):
    if list33[i] == a:
        print(list33.index(a,i))

1
3
7

In [136]:
#34 ROTATE the list
nums = [1, 2, 3, 4, 5]
k = 1
if not nums:
    print(None)
else: k %= len(nums)
print(nums[-k:] + nums[:-k])

[5, 1, 2, 3, 4]

In [141]:
#35
list35 = []
for i in range(1,11):
    list35.append(i)
print(list35)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [128]:
#36
list36 = [1,-2,3,-4,5,-6]
sump = 0
for i in range(len(list36)):
    if list36[i]>0:
        sump += list36[i]
sump

9

In [129]:
#37
list36 = [1,-2,3,-4,5,-6]
sumn = 0
for i in range(len(list36)):
    if list36[i]<0:
        sumn += list36[i]
sumn

-12

In [130]:
#38
list36 == list36.reverse()

False

In [ ]:
#39
list39 = [[1,2], [3,4], [5,6]]

In [132]:
#40
list40 = [1,2,1,2,3,4,5,3]
unique_list = []
for i in range (len(list40)):
    if list40.count(list40[i]) == 1:
        unique_list.append(list40[i])
unique_list

[4, 5]