SET TASKS

In [1]:
#1 
set1_1 = {1,2,3,2}
set1_2 = {2,3,4,5}
set1 = set1_1 | set1_2
set1

{1, 2, 3, 4, 5}

In [3]:
#2
set2 = set1_1 & set1_2
set2

{2, 3}

In [4]:
#3
set3 = set1_1 - set1_2
set3

{1}

In [5]:
#4
set1_1.issubset(set1_2)

False

In [7]:
#5
a = 4
try:
    set1_1.remove(a)
    print("In the set")
except KeyError:
    print("Not in the set")

Not in the set

In [9]:
#6
set6 = {1,1,1,2,3,4,2,3}
len(set6)

4

In [10]:
#7
list7 = [1,2,2,3,4,2,3,5]
set7 = set(list7)
set7

{1, 2, 3, 4, 5}

In [ ]:
#8
a = 4
try:
    set7.remove(a)
    print("Removed")
except KeyError:
    print("Not in the set")

Removed

In [16]:
#9
set7.clear()
set9 = set7
set9

set()

In [17]:
#10
if len(set9) == 0:
    print("Empty")
else: print("Not empty")

Empty

In [34]:
#11
set11_1 = {1,2,3,3}
set11_2 = {3,2,5}
set11 = set11_1.symmetric_difference(set11_2)
set11

{1, 5}

In [35]:
#12
a = 6
length = len(set11)
set11.add(a)
if length == len(set11):
    print("already present", set11)
else: print("added", set11)

added {1, 5, 6}

In [36]:
#13
set11.pop()

1

In [37]:
#14
set14 = {1,9,2,8,3,11}
max(set14)

11

In [38]:
#15
min(set14)

1

In [ ]:
#16
set16 = {1,2,3,4,5,6,7,8}
set_even = set()
try:
    for i in set16:
       if  i % 2 == 0:
            set_even.add(i)
    print(set_even)
except IndexError:
    IndexError

1
2
3
4
5
6
7
8
{8, 2, 4, 6}

In [52]:
#17
set16 = {1,2,3,4,5,6,7,8}
set_odd = set()
try:
    for i in set16:
       if  i % 2 == 1:
            set_odd.add(i)
    print(set_odd)
except IndexError:
    IndexError

{1, 3, 5, 7}

In [54]:
#18
set18 = set()
for i in range (1,11):
    set18.add(i)
set18

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [55]:
#19
set19_1 = {1,2,1,2,3}
set19_2 = {4,4,5,6,5,6,7}
set19 = set19_1.union(set19_2)
set19

{1, 2, 3, 4, 5, 6, 7}

In [56]:
#20
set19_1.isdisjoint(set19_2)

True

In [57]:
#21
list21 = [1,2,3,3,46,4,3]
set21 = set(list21)
list21_1 = list(set21)
list21_1

[1, 2, 3, 4, 46]

In [58]:
#22
list22 = [1,2,2,3,3,3,1,4]
set22 = set(list22)
len(set22)

4

In [59]:
#23
import random
size = 10
start = 1
stop = 100
random_set = set()
while len(random_set) < size:
    random_set.add(random.randint(start, stop))
print(random_set)

{33, 99, 5, 6, 90, 72, 16, 81, 83, 26}