TUPLES

In [1]:
#1
tuple1 = (1,2,3,4,2,1,2,3)
tuple1.count(2)

3

In [2]:
#2
max(tuple1)

4

In [3]:
#3
min(tuple1)

1

In [5]:
#4
a = 1
a in tuple1

True

In [11]:
#5
tuple5 = ()
try:
    print(tuple1[0])
except IndexError:
    print("empty")

1

In [12]:
#6
tuple6 = ()
try:
    print(tuple6[0])
except IndexError:
    print("empty")

empty

In [15]:
#7
len(tuple6)

0

In [18]:
#8
tuple8 = tuple1[:3]
tuple8

(1, 2, 3)

In [ ]:
#9
tuple9_1 = (1,2,3)
tuple9_2 = (8,9,0,6)
tuple9 = tuple9_1 + tuple9_2
tuple9

(1, 2, 3, 8, 9, 0, 6)

In [ ]:
#10
list10 = ()
try:
    print("not empty")
except IndexError:
    print("empty")

In [29]:
#11
tuple9 = (1, 2, 3, 8, 9, 0, 6)
count11 = 0
a11 = 3
try:
    for i in range (len(tuple9)):
        if tuple9[i] == a11:
            count11+=1
    print(count11)
except IndexError:
    print("empty")

1

In [ ]:
#12
list_11 = (1, 2, 3, 3, 2, 6)
list_11.pop(list_11.index(max(list_11)))
max(list_11)

3

In [ ]:
#13
list_11 = (1, 2, 3, 3, 2, 6)
list_11.pop(list_11.index(min(list_11)))
min(list_11)

In [ ]:
#14
tuple14 = (14,)

In [31]:
#15
list15 = []
tuple15 = tuple(list15)
tuple15

()

In [34]:
#16
tuple16 = (1,3,2,4)
if tuple16 == sorted(tuple16):
    print(True)
else: print(False)

False

In [ ]:
#17
tuple17 = (1,2, 3, 9, 4, 5,6, 7,8)
max(tuple17[2:7])

9

In [49]:
#18
tuple17 = (1,2, 3, 0, 4, 5,6, 7,8)
min(tuple17[2:7])

0

In [50]:
#19
list19 = list(tuple17)
list19.remove(3)
tuple19 = tuple(list19)
tuple19

(1, 2, 0, 4, 5, 6, 7, 8)

In [ ]:
#20
tuple20 = ((1,2), (3,4,5),(6,7))

In [51]:
#21
tuple21 = (1,2,3,4)
list21 = []
for i in range (len(tuple21)):
    for x in range (tuple21[i]):
        list21.append(tuple21[i])
tuple21_1 = tuple(list21)
tuple21_1

(1, 2, 2, 3, 3, 3, 4, 4, 4, 4)

In [52]:
#22
tuple22 = ()
list22 = []
for i in range (1,11):
    list22.append(i)
tuple22 = tuple(list22)
tuple22

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [6]:
#23
tuple23 = (1,2,3,4)
list23 = list(tuple23)
list23.reverse()
tuple23 = tuple(list23)
tuple23

(4, 3, 2, 1)

In [ ]:
#24
tuple24 = (1,2,3,4)
list24= list(tuple24)
list24.reverse()
tuple24 == tuple(list24)

In [12]:
#25
tuple25 = (1,6,2,3,2,3,1,2,4,5)
seen = set()
for x in tuple25:
    if not (x in seen or seen.add(x)):
        unique_tuple = tuple(seen)
unique_tuple

(1, 2, 3, 4, 5, 6)